.section {
	margin: 20px 0;
	padding: 0 0 20px;
	border-bottom: 1px solid gray;
}

.green {
	color: green;
}
.red {
	color: red;
}
.gray {
	color: gray;
}

.ul {
	list-style-type: circle;
}

.ol {
	list-style-type: decimal;
}

form {
	.ng-pristine {
		border: 1px solid gray;
	}
	.ng-dirty.ng-invalid {
		background: red;
	}
	.ng-dirty.ng-valid {
		background: green;
	}
}