@import "variables";
.all {
	padding-left: $aside-width;
	position: relative;
	background: rgb(244, 244, 244);
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		background: rgba(0,0,0, .5);
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease-in-out;
	}
	&--disabled {
		&:after{
			opacity: 1;
			visibility: visible;
		}
	}
	@media screen and($xs){
		padding-left: 0;
	}
}
.container {
	padding: 0 50px;
	&__small {
		padding: 0 90px;
	}
}

table.table {
	width: 100%;
	border-collapse: collapse;
    border-spacing: 0;
    th, td {
    	padding: 8px;
	    line-height: 1.42857143;
	    vertical-align: top;
	    border-top: 1px solid #ddd;
	    text-align: left;
    }
	th {
		font-weight: bold;
		border-top: 0;
		vertical-align: bottom;
	}


}
