<div class="js-action-mail">
    <div class="postcard postcard--like">
        <div class="postcard__like js-postcard__like"></div>
        <h1>dfdfdfdf</h1>
    </div>
</div>

<script>
    $(document).ready(function () {
        var posStart = 0,
            total = 0,
            $like = $('.js-postcard__like'),
            activiti = $('.js-action-mail .activiti');
        $(document).on('click', '.js-action-mail .activiti__close', function() {
            activiti.hide();
        });
        $(document).on('mousemove', '.js-action-mail', function(e) {
            if(e.which && !posStart) {
                posStart = e.pageX;
            }
            if(e.which) {
                total = e.pageX - posStart;
                if(total > 250) {
                    $like.addClass('postcard__like--hide');
                }
            } else {
                posStart = 0;
                total = 0;
            }

        });
        $(document).on('mousemove', '.js-postcard__like', function(e) {
            var pageX = e.pageX - ($(window).width() / 2),
                pageY = e.pageY - ($(window).height() / 2),
                newvalueX = e.pageX * -1 / 5,
                newvalueY = e.pageY * -1 / 5;

            $(this).css('background-position', newvalueX + 'px     ' + newvalueY + 'px');

        });
        var shakeEvent = new Shake({threshold: 15});
        shakeEvent.start();
        window.addEventListener('shake', function(){
            alert("Shaked");
            $like.addClass('postcard__like--hide');
        }, false);
    })
</script>
<div class="md-inline-form window-center" ng-controller="loginCtrl">
    <div class="form-center">
        <h1>Авторизация</h1>
        <form name="loginForm" ng-submit="login(user, loginForm.$valid)" novalidate>
            <md-input-container class="md-block">
                <label>Логин</label>
                <input required name="username" ng-model="user.username">
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">Заполните поле</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Пароль</label>
                <input required name="password" ng-model="user.password" type="password">
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">Заполните поле</div>
                </div>
            </md-input-container>
            <section layout="row" layout-sm="column" class="flex-right" layout-wrap>
                <md-button class="md-raised md-primary" type="submin">Войти</md-button>
            </section>
        </form>
    </div>
</div>