<div class="md-inline-form window-center" ng-controller="loginCtrl">
    <div class="form-center">
        <h1>Авторизация</h1>
        <form name="loginForm" ng-submit="login(user, loginForm.$valid)" novalidate>
            <md-input-container class="md-block">
                <label>Логин</label>
                <input required name="username" ng-model="user.username">
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">Заполните поле</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Пароль</label>
                <input required name="password" ng-model="user.password" type="password">
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">Заполните поле</div>
                </div>
            </md-input-container>
            <section layout="row" layout-sm="column" class="flex-right" layout-wrap>
                <md-button class="md-raised md-primary" type="submin">Войти</md-button>
            </section>
        </form>
    </div>
</div>