
<div id="fullpage">
    <div data-anchor="firstPage" class="section section--1">
        <div class="main-content">
            <div class="main-title">Сердечно приветствуем Вас <br>на нашем свадебном сайте</div>
        </div>
        <div class="main-clock">
            <div class="main-clock__title">До нашей свадьбы осталось:</div>
            <div class="your-clock"></div>
        </div>
    </div>
    <div data-anchor="secondPage" class="section section--2">Some section</div>
    <div data-anchor="thirdPage" class="section section--3">Some section</div>
    <div data-anchor="fourthPage" class="section section--4">Some section</div>
</div>