
<div id="fullpage">
    <div data-anchor="firstPage" class="section section--1">
        <div class="main-content">
            <div class="main-title">Сердечно приветствуем Вас <br>на нашем свадебном сайте</div>
        </div>
        <div class="main-clock">
            <div class="main-clock__title">До нашей свадьбы осталось:</div>
            <div class="your-clock"></div>
        </div>
    </div>
    <div data-anchor="secondPage" class="section section--2">
        <div class="page-title">Программа</div>
        <div class="timeline timeline--center">
            <div class="timeline__item">
                <div class="timeline__time">11:30-11:45</div>
                <div class="timeline__text">Сбор гостей у храма</div>
            </div>
            <div class="timeline__item">
                <div class="timeline__time">12:00</div>
                <div class="timeline__text">Таинство Венчания</div>
            </div>
            <div class="timeline__item">
                <div class="timeline__time">15:00</div>
                <div class="timeline__text">Начало <br>праздничного банкета</div>
            </div>
            <div class="timeline__item">
                <div class="timeline__time">22:00</div>
                <div class="timeline__text">Окончание <br>праздничного банкета</div>
            </div>
        </div>
        <div class="page-link-wrap">
            <div class="page-link-item">
                <a href="#" class="page-link" ng-click="showPrerenderedDialog($event)">
                    Правила поведения на загородной площадке, арендованной
                    для торжественного банкета
                </a>
            </div>
            <div class="page-link-item">
                <span class="page-link page-link--sub">Настоятельно рекомендуем
                    ознакомиться <span class="page-link__like">:)</span></span>
            </div>
        </div>
    </div>
    <div data-anchor="thirdPage" class="section section--3">
        <div class="page-title">
            Адреса и схема проезда:
        </div>
        <div class="contact-text">
            <p>
                Венчание: Никольский храм, Зеленоград, Никольский проезд, 1
                Торжественный банкет: Московская Область, Солнечногорский
                район, пос. Алабушево, ул. Горького, д.36
            </p>
            <p>
                Дорогие гости! Уведомляем вас, что после таинства Венчания вас
                организованно доставят на место проведения банкета. После
                окончания банкета вас так же организованно доставят в Зеленоград.
                :)
            </p>
            <p>
                Проезд будет осуществляться на удобных мини-автобусах.
                ВАЖНО! Количество мест на стоянке СТРОГО ограничено, поэтому
                просим вас отказаться от поездки на автомобилях.
            </p>
        </div>
        <div class="contact-map" id="map">

        </div>
    </div>
    <div data-anchor="fourthPage" class="section section--4">
        <div class="page-title">Благодарим за внимание, и до скорой встречи 30 июля!)</div>
        <div class="last-name">Искренне ваши, M & A</div>
    </div>
</div>