
.section {
	margin: 20px 0;
	padding: 0 0 20px;
	border-bottom: 1px solid gray;
}

form {
	.ng-pristine {
		//border: 1px solid gray;
	}
	.ng-dirty.ng-invalid {
		//background: red;
	}
	.ng-dirty.ng-valid {
		//background: green;
	}
}

.nav-link {
	font-weight: 500;
	line-height: 24px;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
	&.active {
		color: rgb(255,64,129);
	}
}

@keyframes nav-item {
	0% {
		left: 15px;
		opacity: 0;
		visibility: hidden;
	}
	100% {
		left: 0;
		opacity: .7;
		visibility: visible;
	}
}

.aside {
	width: $aside-width;
	overflow: hidden;
	background: #fffefc;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 50;
	transition: all .4s ease-in-out;
	outline: none;
	cursor: pointer;
	border-right: 1px solid rgba(0,0,0,.08);
	box-shadow: 2px 0 9px rgba(0, 0, 0, 0.08);
	@media screen and($xs){
		width: 0;
		overflow: hidden;
		top: $mob-line-height;
	}
	&:focus {
		outline: none;
	}
	&--active {
		width: 300px;
		box-shadow: 12px 0 20px rgba(0, 0, 0, 0.3);
		.aside__logo {
			width: 140px;
		}
		.nav__item {
			&:nth-of-type(1) {
				.nav__name {
					animation-delay: 0s;
				}
			}
			&:nth-of-type(2) {
				.nav__name {
					animation-delay: .1s;
				}
			}
			&:nth-of-type(3) {
				.nav__name {
					animation-delay: .2s;
				}
			}
			&:nth-of-type(4) {
				.nav__name {
					animation-delay: .3s;
				}
			}
			.nav__name {
				animation: nav-item .4s ease-in-out both;
			}
		}
	}
	&__logo {
		transition: all .4s;
		position: absolute;
		top: 100px;
		left: 21px;
		width: 48px;
	}
	&__nav {
		position: absolute;
		top: 350px;
		left: 41px;
	}
	&__contacts {
		position: absolute;
		bottom: 60px;
		left: 17px;
		transform: rotate(-90deg);
		transform-origin: center;
		font-size: 10px;
	    color: rgb(68, 68, 68);
	    text-transform: uppercase;
	}
}
.logo {
	display: block;
	text-decoration: none;
	&__img {
		max-width: 100%;
	}
}
$nc1: #3c448d;
$nc2: #724f8a;
$nc3: #93548b;
$nc4: #b65b8d;
$nc5: #e8707f;
$nc6: #e67261;
$nc7: #f8b26d;
.nav {
	&__item {
		display: block;
		text-decoration: none;
		position: relative;
		font-size: 34px;
		color: rgb(59, 66, 148);
		font-weight: bold;
		margin-bottom: 10px;
		padding-left: 27px;
		line-height: 1;
		&.active {
			&.nc1 {
				&:before{
					background: $nc1;
				}
			}
			&.nc2 {
				&:before{
					background: $nc2;
				}
			}
			&.nc3 {
				&:before{
					background: $nc3;
				}
			}
			&.nc4 {
				&:before{
					background: $nc4;
				}
			}
		}
		&.nc1 {
			.nav__name {
				color: $nc1;
				&:hover{
					color: #2232c5;
				}
			}
			&:before{
				border-color: $nc1;
			}
		}
		&.nc2 {
			.nav__name {
				color: $nc2;
				&:hover{
					color: #8d2ed0;
				}
			}
			&:before{
				border-color: $nc2;
			}
		}
		&.nc3 {
			.nav__name {
				color: $nc3;
				&:hover{
					color: #da51c9;
				}
			}
			&:before{
				border-color: $nc3;
			}
		}
		&.nc4 {
			.nav__name {
				color: $nc4;
				&:hover{
					color: #d40c7a;
				}
			}
			&:before{
				border-color: $nc4;
			}
		}
		
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			margin-top: -3px;
			left: 0;
			display: block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			border: 2px solid green;
		}
	}
	&__name {
		position: relative;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
	}
}

.full-bg {
	flex: 1;
	background-image: url(../img/official/main.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	position: relative;
	padding: 0 90px;
	min-height: 100vh;
	@media screen and($xs){
		padding: 0 20px;
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: radial-gradient(rgba(0,0,0,.1), rgba(0,0,0,.7));
	}
	&__content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 90px;
		z-index: 1;
		@media screen and($xs){
			left: 30px;
		}
	}
	&__title {
		font-size: 78px;
		line-height: 80px;
		color: white;
	    margin: 0 0 24px;
	    @media screen and($xs){
	    	font-size: 35px;
	    	line-height: 40px;
	    }
	}
	&__subtitle {
		font-size: 21px;
		line-height: 25px;
		color: white;
		@media screen and($xs){
			font-size: 18px;
			line-height: 23px;
		}
	}
}

.section-info {
	padding: 109px 120px;
	padding: 5vw 5vw;
	background: rgb(244, 244, 244);
	text-align: center;
	padding: 50px 26px;
	@media screen and($xs-min){
		padding: 100px 5vw;
	}
	@media screen and($sm-min){
		padding: 170px 5vw;
	}
	&--dark {
		color: white;
		background: #333;
	}
	&__title {
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 20px;
		@media screen and($md) {
			font-size: 40px;
			line-height: 44px;
		}
		@media screen and($xs) {
			font-size: 30px;
			line-height: 34px;
		}
	}
	&__text {
		font-size: 27px;
		line-height: 37px;
	    color: rgb(51, 51, 51);
	    @media screen and($md) {
			font-size: 20px;
			line-height: 25px;
		}
	}
	&__img {
		margin-top: 27px;
		display: inline-block;
		max-width: 100%	
	}
}

.videos {
	display: flex;
	@media screen and($xs){
		display: block;
	}
	&__col {
		width: 50%;
		flex: 1;
		position: relative;
		background: black;
		&--opacity {
			iframe {
				opacity: .7;
			}
		}
		iframe {
			transition: all .4s;
		}
		&:hover{
			iframe {
				opacity: 1;
			}
		}
		&--main {
			height: 450px;
			@media screen and($md){
				height: 300px;
			}
			@media screen and($xs){
				width: 100%;
				height: 250px;
				margin-bottom: 15px;
			}
			@media screen and(max-width: 460px){
				height: 200px;
			}
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

.l-gallery {
	@extend .clearfix;
	&__link {
		display: block;
		text-decoration: none;
		width: 20%;
		height: 300px;
		position: relative;
		float: left;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0,0,0, .3);
			transition: all .4s;
		}
		&:hover{
			&:after{
				background: rgba(0,0,0,0);
			}
		}
		@media screen and($md){
			width: 25%;
			height: 180px;
		}
		@media screen and($xs){
			width: 50%;
			height: 120px;
		}
	}
	&__img {
		display: none;
		width: 100%;
		height: 100%;
	}
}

.contacts {
	text-align: center;
	&__title {
		font-size: 60px;
		line-height: 65px;
		margin-bottom: 40px;
		color: white;
		@media screen and($xs){
			font-size: 30px;
			line-height: 35px;
			margin-bottom: 20px;
		}
	}
	&__info {
		display: block;
		text-decoration: none;
		color: white;
		font-size: 23px;
		line-height: 27px;
		margin-bottom: 0;
		@media screen and($xs){
			font-size: 18px;
			line-height: 23px;
		}
	}
}

.mobile-top {
	display: none;
	@media screen and($xs){
		display: block;
		height: $mob-line-height;
		background: #106cc8;
		padding: 0 10px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 50;
	}
}

.fill-white {
	fill: white;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px;
}

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}

.window-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form-center {
    width: 300px;
    @media screen and ($xs-min) {
        width: 400px;
    }
}
.flex-right {
    display: flex;
    justify-content: flex-end;
}

.toast {
	&--error {
		.md-toast-content {
			background-color: $red;
			color: white;
		}
	}
	&--success {
		.md-toast-content {
			background-color: $green;
			color: white;
		}
	}
}

.postcard {
	height: 500px;
	margin: 100px;
	border: 1px solid green;
	position: relative;
	&__like {
		position: absolute;
		top: 5px;
		bottom: 5px;
		left: 5px;
		right: 5px;
		background: url(../img/official/main.jpg) 0 0 no-repeat;
		transition: opacity .5s ease-in-out, transform .5s ease-in-out, background-position .3s;
		transform-origin: center center;
		z-index: 1;
		&--hide {
			opacity: 0;
			transform: scale(2);
		}
	}
}