$xs: "max-width: 768px";
$sm: "max-width: 992px";
$md: "max-width: 1199px";
$lg: "min-width: 1200px";

$xs-min: "min-width: 768px";
$sm-min: "min-width: 992px";
$md-min: "min-width: 1199px";
$lg-min: "min-width: 1200px";

$aside-width: 90px;

$mob-line-height: 40px;

$opensans: 'Open Sans', sans-serif;
$philos: 'Philosopher', sans-serif;
$andantino: 'andantino', sans-serif;
$adine: 'adine', sans-serif;
$copyist: 'copyist', sans-serif;

//colors
$red: #F44336;
$green: #4CAF50;