<table class="table">
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Control</th>
	</tr>
	<tr ng-repeat='item in items'>
		<td>{{item.name}}</td>
		<td>{{item.price}}</td>
		<td>
			<div class="btn-group">
				<md-button class="md-raised" ng-click='editOrCreate(item)'>Edit</md-button>
				<md-button class="md-raised" ng-click='delete(item)'>Delete</md-button>
			</div>
		</td>
	</tr>
</table>
<div class="btn-group">
	<md-button class='md-raised' ng-click='editOrCreate()'>New</md-button>
	<md-button class='md-raised' ng-click='refresh()'>Refresh</md-button>
</div>