<h1>Валидация</h1>
<div ng-controller='validCtrl'>
	<form novalidate name='userForm' ng-submit='addUser(newUser, userForm.$invalid)'>
		<!-- $dirty - с формой взаимодействовали
		$pristine - с формой не взаимодействовали
		$valid - валидно
		$invalid - невалидно -->
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="">Name</label>
					<input type="text" 
						name='userName' 
						class='form-control' 
						ng-model='newUser.name'
						ng-required='required'
						ng-minlength='3'
						ng-maxlength='7'
						ng-pattern='pattern'
						>
					<div ng-show='statusValid'>
						{{getError(userForm.userName.$error)}}
					</div>
				</div>
				<div class="form-group">
					<div class="form-group">
					<label for="">Email</label>
					<input type="email" name='userEmail' class='form-control' ng-model='newUser.email' required>
					<div ng-show='statusValid'>
						{{getError(userForm.userEmail.$error)}}
					</div>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name='userStatus' ng-model='newUser.status' required> Status ({{newUser.status}})
					</label>
					<div ng-show='statusValid'>
						{{getError(userForm.userStatus.$error)}}
					</div>
			  	</div>  
				</div>
				<div class="form-group">
					<button type='submit' class='btn btn-blue'>Добавить</button>
					<!-- <button type='submit' class='btn btn-blue' ng-disabled='userForm.$invalid'>Добавить</button> -->
				</div>
				<br><hr><br>
				<div>
					<p>Status valid: {{userForm.$valid}}</p>
					<p>Required: {{userForm.userName.$error.required}}</p>
					<p>Min: {{userForm.userName.$error.minlength}}</p>	
					<p>Max: {{userForm.userName.$error.maxlength}}</p>
					<p>Pattern: {{userForm.userName.$error.pattern}}</p>
				</div>
			</div>
			<div class="col-sm-8">
				<h3>Online {{(data | filter: {status: true}).length}}</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Status</th>
					</tr>
					<tr ng-repeat='task in data'>
						<td>{{task.name}}</td>
						<td>{{task.email}}</td>
						<td>{{task.status}}</td>
					</tr>
				</table>
			</div>
		</div>
	</form>
</div>